[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
	shallow = true
[submodule "third_party/pcg_cpp"]
	path = third_party/pcg_cpp
	url = https://github.com/imneme/pcg-cpp.git
